Repository forgebyd/rune: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

chore: add MIT license file ⚖️
  LICENSE.md
Due: pnpm run prettier.format

docs: add README file 📖
  README.md
Due: pnpm run prettier.format

fix(config): modify biome lint rule 'useImportExtensions' 🪛
  biome.json
Due: pnpm run biome.lint, pnpm run biome.format

feat(build): introduce tsdown, publint, unplugin-unused for advanced tooling 📦
  package.json
  pnpm-lock.yaml
  tsdown.config.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

refactor(build): transition tsdown to ESM-only output, removing CJS support ✒️
  tsdown.config.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

feat(cli): add initial package.json for @rune/cli 🌱
  packages/cli/package.json
Due: pnpm run biome.lint, pnpm run biome.format

build(cli): configure tsdown multi-entry for @rune/cli 🔨
  packages/cli/tsdown.config.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

chore(cli): add MIT license file ⚖️
  packages/cli/LICENSE.md
Due: pnpm run prettier.format

chore(vscode): add 'gunshi' to cSpell dictionary 📔
  .vscode/settings.json
Due: pnpm run biome.lint, pnpm run biome.format

feat(cli): integrate Gunshi as the command runner ✨
  packages/cli/package.json
  pnpm-lock.yaml
Due: pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

feat(cli): setup shared type declarations ✨
  packages/cli/source/types/command.ts
  packages/cli/source/types/plugin.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

feat(cli): add initial command definitions ✨
  packages/cli/source/commands/cast.ts
  packages/cli/source/commands/craft.ts
  packages/cli/source/commands/tome.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

feat(cli): add initial plugin definitions ✨
  packages/cli/source/plugins/add-global.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

feat(cli): add utility file for schema definition ✨
  packages/cli/source/utilities/schema.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

feat(cli): implement basic core execution flow and bootstrap ✨
  packages/cli/bin/cli.ts
  packages/cli/source/bootstrap.ts
  packages/cli/source/index.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

chore: implement pnpm dependency catalogs 📦
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

feat(cli): add basic implementation of track-runtime plugin ✨
  packages/cli/source/bootstrap.ts
  packages/cli/source/plugins/track-runtime.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

fix(config): resolve implicit type checking errors 🔨
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.json
Due: pnpm run biome.lint, pnpm run biome.format

fix(cli): ensure positional arguments are correctly parsed 🔨
  packages/cli/source/commands/cast.ts
  packages/cli/source/commands/craft.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

chore(vscode): specify default formatter for yaml,yml,md and github workflows 🎨
  .vscode/settings.json
Due: pnpm run biome.lint, pnpm run biome.format

ci: add pull request title validation workflow 🤖
  .github/workflows/pull-request-title.yml
Due: pnpm run prettier.format

fix(ci): fix typo in PR title 🐛
  .github/workflows/pull-request-title.yml
Due: pnpm run prettier.format

fix(ci): fix spaces in PR title workflow 🐛
  .github/workflows/pull-request-title.yml
Due: pnpm run prettier.format

fix(cli): narrow Node.js engine requirement range 🔨
  packages/cli/package.json
Due: pnpm run biome.lint, pnpm run biome.format

docs(cli): document short flag uppercase conversion in defineSchema (#2) ✒️
  packages/cli/source/utilities/schema.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

fix(ci): improve PR title validation error message format 🐛
  .github/workflows/pull-request-title.yml
Due: pnpm run prettier.format

feat(cli): initial CLI package setup ✨ (#1)
  .github/workflows/pull-request-title.yml
  .vscode/settings.json
  package.json
  packages/cli/LICENSE.md
  packages/cli/bin/cli.ts
  packages/cli/package.json
  packages/cli/source/bootstrap.ts
  packages/cli/source/commands/cast.ts
  packages/cli/source/commands/craft.ts
  packages/cli/source/commands/tome.ts
  packages/cli/source/index.ts
  packages/cli/source/plugins/add-global.ts
  packages/cli/source/plugins/track-runtime.ts
  packages/cli/source/types/command.ts
  packages/cli/source/types/plugin.ts
  packages/cli/source/utilities/schema.ts
  packages/cli/tsconfig.json
  packages/cli/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsdown.config.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

chore(release): initialize Changesets for version management 🪸
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

chore(release): add Changeset for initial @rune/cli setup 🪸
  .changeset/petite-bees-slide.md
Due: pnpm run prettier.format

feat(release): setup Changesets for monorepo version management 🪸 (#3)
  .changeset/README.md
  .changeset/config.json
  .changeset/petite-bees-slide.md
  package.json
  pnpm-lock.yaml
Due: pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

ci: update PR title validation rules 🤖
  .github/workflows/pull-request-title.yml
Due: pnpm run prettier.format

ci: implement actions/labeler for automated PR labeling 🤖
  .github/label.yml
  .github/workflows/pull-request-label.yml
Due: pnpm run prettier.format

feat(essence): initialize @rune/essence package scaffolding ✨
  packages/essence/package.json
  packages/essence/tsconfig.json
  packages/essence/tsdown.config.ts
  pnpm-lock.yaml
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

chore(essence): add MIT license file ⚖️
  packages/essence/LICENSE.md
Due: pnpm run prettier.format

feat(essence): implement foundational shared types, consts, and utilities ✨
  packages/essence/source/consts/error.ts
  packages/essence/source/consts/index.ts
  packages/essence/source/index.ts
  packages/essence/source/types/heart.ts
  packages/essence/source/types/index.ts
  packages/essence/source/types/result.ts
  packages/essence/source/types/seeker.ts
  packages/essence/source/types/utility.ts
  packages/essence/source/utilities/index.ts
  packages/essence/source/utilities/object.ts
  packages/essence/source/utilities/result.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

refactor(essence): adjust package exports for clarity and compatibility ♻️
  packages/essence/package.json
  packages/essence/tsdown.config.ts
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format

feat(essence): initialize @rune/essence for shared types and utilities ✨ (#4)
  packages/essence/LICENSE.md
  packages/essence/package.json
  packages/essence/source/consts/error.ts
  packages/essence/source/consts/index.ts
  packages/essence/source/index.ts
  packages/essence/source/types/heart.ts
  packages/essence/source/types/index.ts
  packages/essence/source/types/result.ts
  packages/essence/source/types/seeker.ts
  packages/essence/source/types/utility.ts
  packages/essence/source/utilities/index.ts
  packages/essence/source/utilities/object.ts
  packages/essence/source/utilities/result.ts
  packages/essence/tsconfig.json
  packages/essence/tsdown.config.ts
  pnpm-lock.yaml
Due: bash -c 'pnpm run typecheck', pnpm run biome.lint, pnpm run biome.format, pnpm run prettier.format

Path conditions:
  bash -c 'pnpm run typecheck': any of: *.ts
  pnpm run biome.lint: ((any of: *.ts) or (any of: *.js)) or (any of: *.{json,jsonc})
  pnpm run biome.format: ((any of: *.ts) or (any of: *.js)) or (any of: *.{json,jsonc})
  pnpm run prettier.format: any of: *.{md,yml,yaml}
